@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* General */

body,
ul {
  font-family: "Aleo", serif;
  background-color: rgba(60, 59, 110, 0.2);
  line-height: 130%;
}

p {
  display: inline-block;
}

.h3_app {
  font-size: 22px;
  color: rgb(107, 107, 149);
}

a {
  text-decoration: none;
  color: rgba(178, 32, 54);
}

.Dashboard {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}

.DashboardMain {
  width: 100%;
  margin-left: 10px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #c0c0c0;
  background: #fdfdfd;
  padding-bottom: 10px;
}

.DashboardSide {
  min-width: 360px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

/* DASHBOARD MAIN */

.header {
  min-height: 320px;
  background-image: linear-gradient(
      rgba(178, 32, 54, 0.8),
      rgba(178, 32, 54, 0.8)
    ),
    url(newyorkflag.jpg);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.headerText {
  padding-top: 100px;
  font-size: 92px;
  color: #fff;
  font-weight: 300;
}

.headerTextTwo {
  padding-top: 55px;
  color: #fff;
  font-size: 36px;
}

.main_nav-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  background: rgb(60, 59, 110);
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.navItem {
  color: #fff;
  text-decoration: none;
}

.navItem:hover {
  color: rgba(178, 32, 54);
  transition-duration: 0.4s;
}

/* SIDEBAR */

.siderbar_container {
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #c0c0c0;
  padding: 40px 40px 25px 40px;
  text-align: left;
  background-color: #fdfdfd;
}

.sidebar_heading-container {
  margin-bottom: 40px;
}


/* STATISTICS */

.statistics_one {

  margin-top: 15px;
  line-height: 0px;
  color: rgba(60, 59, 110);
  font-size: 16px;
}

.sidebar_statistics-container {
  margin-top: 50px;
}

.statistics_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_statistics {
  display: block;
  font-size: 18px;
}

.progress_bar-statistics {
  width: 70%;
  height: 12px;
  display: inline-block;
  border-radius: 5px;
  -webkit-appearance: none;
}


/*LEVEL*/

.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 50px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(60, 59, 110);
  font-size: 12px;
  text-decoration: none;
  background-color: rgba(60, 59, 110);
  cursor: pointer;
  transition-duration: 0.4s;
  color: #fdfdfd;
  text-align: center;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: rgba(178, 32, 54);
  border-color: rgba(178, 32, 54);
}

.btn:focus {
  outline: none;
}

/*SOCIAL ICONS*/

.Social_icons {
  font-size: 20px;
  color: rgb(206, 81, 100);
}

.social_container {
  display: flex;
  justify-content: space-evenly;
}

.social_container-icons {
  border: solid 1px;
  border-radius: 5px;
  border-color: #c0c0c0;
  padding: 9px 30px 9px 30px;
  background-color: #fff;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
}

.social_container-icons:hover {
  background-color: rgb(107, 107, 149);
}

/* MAIN */

.deck_main {
  display: flex;
  line-height: 0%;
  cursor: pointer;
  border-radius: 4px;
  margin: 0px 20px 10px 20px;
  background-color: rgba(60, 59, 110, 0.2);
}

.deck_main:hover {
  background-color: rgb(107, 107, 149, 0.6);
  transition-duration: 0.4s;
}

.deck_area_one {
  width: 12%;
  font-size: 26px;
  color: rgba(178, 32, 54);
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
}

.deck_area_two {
  width: 66%;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 20px;
  text-decoration: none;
}

.deck_area_three {
  width: 22%;
  padding-top: 20px;
  margin-right: 30px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

.deck_area_three :hover {
  color: rgba(178, 32, 54);
  transition-duration: 0.4s;
}

.p_deck-one {
  font-size: 20px;
  color: rgba(178, 32, 54);
  font-weight: 400;
  text-decoration: none;
}

.p_deck-two {
  font-size: 16px;
  color: rgba(60, 59, 110);
  text-decoration: none;
  line-height: 0 px;
}

.progress_bar {
  width: 100%;
  height: 14px;
  display: inline-block;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background: #fdfdfd;
  border: 1px solid;
  border-color: #c0c0c0;
}

/* Now the value part */
progress::-webkit-progress-value {
  background: rgba(178, 32, 54);
  border-radius: 2px;
}

.deck_icon {
  font-size: 45px;
  color: rgba(178, 32, 54);
}

.deck_icon:hover {
  color: rgba(60, 59, 110);
}

.link_deck {
  color: rgba(178, 32, 54);
}

/* ABOUT */

.menu_pages-container {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(107, 107, 149, 0.2);
  padding: 20px 7% 20px 7%;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(107, 107, 149);
}

/* APP */

/* APP MAIN*/


.popup {
  position: fixed;
  background-color: rgba(178, 32, 54, 0.8);
  z-index: 10;
  margin: 80px 160px 80px 160px;
  padding: 20px 40px 20px 40px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.Dashboard-app {
  display: flex;
  justify-content: space-evenly;
  height: 540px;
}

.DashboardSide-app {
  height: 660px;
  min-width: 340px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.DashboardMain-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  height: 660px;
}

.main_window-app {
  position: relative;
  border-radius: 5px;
  border: solid 1px;
  border-color: #c0c0c0;
  background: #fdfdfd;
  margin-bottom: 10px;
  height: 590px;
}

.MainApp_heading {
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  color: white;
}


.SideApp {
  border-radius: 5px;
  border: solid 1px;
  border-color: #c0c0c0;
  background-color: #fdfdfd;
  height: 590px;
  margin-bottom: 10px;
}

.SideApp_heading {
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.p_app {
  font-size: 18px;
  color: rgb(107, 107, 149);
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.p_app-red {
  font-size: 18px;
  color: rgba(178, 32, 54);
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.a_app {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(178, 32, 54);
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.input_app {
  all: none;
  margin-left: 40px;
  margin-right: 40px;
  width: 60%;
  border-color: #c0c0c0;
  border-width: 1px;
  font-size: 18px;
  display: inline-block;
}

.input_app:focus {
  border-color: #c0c0c0;
  border-width: 1px;
  font-size: 18px;
}

.btn-app {
  font-family: Aleo;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(60, 59, 110);
  font-size: 16px;
  text-decoration: none;
  background-color: rgba(60, 59, 110);
  cursor: pointer;
  transition-duration: 0.4s;
  color: #fdfdfd;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-app:hover {
  background-color: rgba(178, 32, 54);
  border-color: rgba(178, 32, 54);
}

.btn-app:focus {
  outline: none;
}

.update_buttons-div {
  display: flex;
  justify-content: space-between;
}

.update-buttons {
  width: 32%;
}

.app_icon {
  font-size: 48px;
  color: rgb(107, 107, 149);
  float: right;
  cursor: pointer;
}

.app_icon:hover {
  color: rgba(178, 32, 54);
}

.btn_app-pageFour {
  margin-left: 40px;
}



/* APP SIDEBAR */

.sidebar_wrap {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.sidebar_one {
  color: rgba(60, 59, 110);
  font-size: 16px;
}

.p_sidebar {
  display: block;
  line-height: 0px;
  font-size: 18px;
}

.p_sidebar_two {
  display: block;
  line-height: 0px;
  color: rgba(60, 59, 110);
  font-size: 18px;
}

.progress_bar-sidebar {
  width: 70%;
  height: 12px;
  display: inline-block;
  border-radius: 5px;
  -webkit-appearance: none;
}

.sidebar_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar_btn-container {
  text-align: center;
}

.btn_sidebar {
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 50px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(60, 59, 110);
  font-size: 12px;
  text-decoration: none;
  background-color: rgba(60, 59, 110);
  cursor: pointer;
  transition-duration: 0.4s;
  color: #fdfdfd;
  text-align: center;
  letter-spacing: 1px;
}

.btn_sidebar:hover {
  background-color: rgba(178, 32, 54);
  border-color: rgba(178, 32, 54);
}

.btn_sidebar:focus {
  outline: none;
}

/* PROGRESS */

.progress_page-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #fdfdfd;
}

.progress_left-column { 
  flex: 1; 
  margin-left: 20px;
  margin-right: 5px;
}

.progress_right-column { 
  flex: 1; 
  margin-left: 5px;
  margin-right: 20px;
}


.progress_page-button {
  font-size: 18px;
  border-color: rgba(60, 59, 110);
  background: rgba(60, 59, 110, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  text-align: left;
  color: rgba(178, 32, 54);
  border: solid 1px;
  border-color: #c0c0c0;
}

.p_progress-one {
  color: rgba(60, 59, 110);
}

.h1_progress {
  color: rgba(60, 59, 110);
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .header {
    min-height: 300px;
  }

  .DashboardSide {
    min-width: 320px;
  }

  .headerText {
    padding-top: 90px;
    font-size: 84px;
  }

  .headerTextTwo {
    padding-top: 55px;
    font-size: 32px;
  }

  .social_container-icons {
    padding: 8px 24px 8px 24px;
  }

  .Social_icons {
    font-size: 18px;
  }

  .btn {
    padding: 12px 40px;
    font-size: 12px;
  }

  .popup {
    
    margin: 60px 40px 40px 40px;
    padding: 10px 20px 10px 20px;
  }
  

}

@media only screen and (max-width: 1024px) {

  .Dashboard {
    margin: 0px 0px 0px 0px;
  }

  .DashboardSide {
    min-width: 280px;
  }

  .p_deck-two {
    display: none;
  }

  .p_deck-one {
    font-size: 18px;
  }

  .text_left {
    font-size: 22px;
  }

  .headerText {
    padding-top: 90px;
    font-size: 64px;
  }

  .headerTextTwo {
    padding-top: 40px;
    font-size: 24px;
  }

  .DashboardMain {
    margin-left: 5px;
  }

  .DashboardSide {
    margin-right: 5px;
  }

  .Statistics {
    margin-bottom: 5px;
  }

  .Level {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn {
    padding: 12px 34px;
    font-size: 10px;
  }

  .social_container-icons {
    padding: 6px 20px 6px 20px;
  }

  .Social_icons {
    font-size: 16px;
  }


.progress_page-button {
  font-size: 16px;
}

.h1_progress {
  font-size: 26px;
}

.h3_app {
  font-size: 20px;
}

.popup {
    
  margin: 60px 20px 40px 20px;
  padding: 5px 10px 5px 10px;
}



}


@media only screen and (max-width: 768px) {
  .Dashboard {
    display: block;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .DashboardMain {
    margin: 0px 0px 0px 0px;
  }

  .DashboardSide {
    margin: 0px 0px 0px 0px;
  }

  .Statistics {
    margin-bottom: 5px;
  }

  .Level {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Social_icons {
    margin-top: 5px;
    margin-bottom: 10px;
  }

.p_deck-two {
  display: none;
}

.header {
  min-height: 300px;
}

.headerText {
  font-size: 68px;
}

.headerTextTwo {
  padding-top: 50px;
  font-size: 22px;
}

.Dashboard-app {
  display: block;
  width: 100%;
}

.DashboardMain-app {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 20px;
}

.DashboardSide-app {
  min-width: 360px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.progress_page-container {
  display: inline-block;
  width: 100%;
}

.progress_left-column {
  margin-right: 20px;
}

.progress_right-column {
  margin-left: 20px;
}

}


