/* APP MAIN*/

.modules {
  display: grid;
  grid-template-columns: 34rem 1fr;
  margin: 3rem;
  grid-gap: 3rem;

  &__main {
    position: relative;
    border-radius: var(--border-radius-large);
    border: var(--standard-border);
    background-color: var(--color-white);
    padding: var(--standard-padding);
    min-height: 44rem;
  }

  &__side {
    min-width: 30rem;
    border-radius: var(--border-radius-large);
    border: var(--standard-border);
    background-color: var(--color-white);
    padding: var(--standard-padding);
    min-height: 44rem;
  }

  &__icons {
    font-size: 4.5rem;
    color: var(--color-secondary);
    position: absolute;
    right: 3rem;
    top: 3rem;
    cursor: pointer;
  }

  &__icon {
    color: var(--color-secondary);

    &:hover {
      color: var(--color-primary);
    }
  }

  &__popup {
    position: absolute;
    top: 10rem;
    right: 10rem;
    left: 10rem;
    padding: 3rem;
    background-color: var(--color-primary-header);
    z-index: 10;
    color: var(--color-white);
    border-radius: var(--border-radius-large);
  }

  &__button {
    grid-column: 2/-1;
  }

  &__buttons {
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
  }
}

/* SIDEBAR */

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* MAIN WINDOW */

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* BUTTONS */

.buttons {
  &__page-one {
    width: 32%;
  }

  &__page-four {
    width: 32%;
  }
}

/* POPUP */

.popup {
  &__h3 {
    color: var(--color-white);
  }
  &__p {
    color: var(--color-white);
  }
}
