@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Aleo", serif;
  background-color: rgba(60, 59, 110, 0.2);
  line-height: 130%;

  --color-primary: #b22036;
  --color-secondary: #6b6b95;
}

h1 {
  color: var(--color-secondary);
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 26px;
}

h3 {
  font-size: 22px;
  color: var(--color-secondary);
}

p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
