.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 2rem;

  &__main {
    width: 100%;
    margin-left: 2rem;
    border-radius: var(--border-radius-large);
    border: var(--standard-border);
    border-color: var(--color-grey-dark);
    background: var(--color-white);
  }

  &__side {
    min-width: 30rem;
    border-radius: var(--border-radius-large);
    border: var(--standard-border);
    background-color: var(--color-white);
    height: max-content;
    padding: var(--standard-padding);
  }

  &__page {
    margin: 3rem;
    border-radius: var(--border-radius-large);
    font-size: var(--default-font-size);
  }
}

/* NAV */

.main-nav {
  font-size: 1.6rem;
  background: var(--color-secondary);
  padding: 1.5rem;
  display: grid;
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  grid-gap: 2rem;

  &__top {
    display: flex;
    justify-content: space-around;
  }

  &__bottom {
    display: flex;
    justify-content: space-evenly;
  }

  &__h3 {
    align-self: center;
    justify-self: center;
    color: var(--color-white);
  }

  &__image {
    align-self: center;
    border-radius: 50%;
    max-height: 5rem;
  }

  &__link {
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      color: var(--color-primary);
      transition-duration: 0.3s;
    }
  }

  &__button {
    color: var(--color-secondary);
    background: var(--color-white);
    transition-duration: var(--transition-duration);

    &:hover {
      background: var(--color-primary);
    }
  }
}

/* SIDEBAR */

.statistics {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  &__h3 {
    grid-column: 1/-1;
  }

  &__icon {
    border: var(--standard-border);
    border-radius: var(--border-radius-small);
    color: var(--color-primary);
    background-color: var(--color-white);
    cursor: pointer;
    transition-duration: var(--transition-duration);
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 6rem;
    height: 3.5rem;
    padding: 0.5rem;

    &:hover {
      background-color: var(--color-secondary);
    }
  }
}

/* DECKS */

.deck {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 8rem;
  cursor: pointer;
  margin: 2rem 2rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-background);
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: rgba(107, 107, 149, 0.6);
  }

  &__left {
    justify-self: center;
    align-self: center;
  }

  &__middle {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  &__right {
    justify-self: center;
    align-self: center;
    font-size: 4.5rem;
    height: 4.5rem;
    color: var(--color-primary);
  }

  &__icon {
    transition-duration: var(--transition-duration);
    &:hover {
      color: var(--color-white);
    }
  }

  &__h2 {
    color: var(--color-primary);
    padding: 0;
    height: max-content;
  }

  &__h3 {
    padding: 0;
    height: max-content;
    align-self: end;
  }

  &__p {
    height: max-content;
    align-self: end;
  }

  &__progress {
    grid-column: 1/-1;
    align-self: start;
  }
}
