/*

@media only screen and (max-width: 1200px) {
  .header {
    min-height: 300px;
  }

  .DashboardSide {
    min-width: 320px;
  }

  .headerText {
    padding-top: 90px;
    font-size: 84px;
  }

  .headerTextTwo {
    padding-top: 55px;
    font-size: 32px;
  }

  .social_container-icons {
    padding: 8px 24px 8px 24px;
  }

  .Social_icons {
    font-size: 18px;
  }

  .btn {
    padding: 12px 40px;
    font-size: 12px;
  }

  .popup {
    margin: 60px 40px 40px 40px;
    padding: 10px 20px 10px 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .Dashboard {
    margin: 0px 0px 0px 0px;
  }

  .DashboardSide {
    min-width: 280px;
  }

  .p_deck-two {
    display: none;
  }

  .p_deck-one {
    font-size: 18px;
  }

  .text_left {
    font-size: 22px;
  }

  .headerText {
    padding-top: 90px;
    font-size: 64px;
  }

  .headerTextTwo {
    padding-top: 40px;
    font-size: 24px;
  }

  .DashboardMain {
    margin-left: 5px;
  }

  .DashboardSide {
    margin-right: 5px;
  }

  .Statistics {
    margin-bottom: 5px;
  }

  .Level {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn {
    padding: 12px 34px;
    font-size: 10px;
  }

  .social_container-icons {
    padding: 6px 20px 6px 20px;
  }

  .Social_icons {
    font-size: 16px;
  }

  .progress_page-button {
    font-size: 16px;
  }

  .h3_app {
    font-size: 20px;
  }

  .popup {
    margin: 60px 20px 40px 20px;
    padding: 5px 10px 5px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .Dashboard {
    display: block;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .DashboardMain {
    margin: 0px 0px 0px 0px;
  }

  .DashboardSide {
    margin: 0px 0px 0px 0px;
  }

  .Statistics {
    margin-bottom: 5px;
  }

  .Level {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Social_icons {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .p_deck-two {
    display: none;
  }

  .header {
    min-height: 300px;
  }

  .headerText {
    font-size: 68px;
  }

  .headerTextTwo {
    padding-top: 50px;
    font-size: 22px;
  }

  .Dashboard-app {
    display: block;
    width: 100%;
  }

  .DashboardMain-app {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .DashboardSide-app {
    min-width: 360px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .progress_page-container {
    display: inline-block;
    width: 100%;
  }

  .progress_left-column {
    margin-right: 20px;
  }

  .progress_right-column {
    margin-left: 20px;
  }
}
*/
