.progress-page {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-white);
  color: var(--color-secondary);

  &__left-column {
    flex: 1;
    margin-left: 2rem;
    margin-right: 0.5rem;
  }

  &__right-column {
    flex: 1;
    margin-left: 0.5rem;
    margin-right: 2rem;
  }

  &__item {
    font-size: var(--default-font-size);
    border: var(--standard-border);
    background: var(--color-background);
    border-radius: var(--border-radius-large);
    margin-bottom: 1rem;
    padding: 0.5rem 2.5rem;
    color: var(--color-primary);
  }
}
